body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.link {
  font-size: 20px;

  color: #fff;
  text-decoration: none;
}

.link--16 {
  font-size: 16px;
}

.faq__item {
  margin-bottom: 15px;

  padding: 24px 32px 24px 24px;
  background-color: lightgrey;
  border-radius: 10px;

  text-align: center;

  width: 50%;
}

.faq__item .item__title {
  display: block;
  padding: 10px 15px;
  position: relative;

  font-size: 20px;
  font-weight: 700;
  line-height: 30px;

  color: #0173c1;
  cursor: pointer;
}

.faq__item .item__input {
  width: 0;
  height: 0;

  appearance: none;

  position: absolute;
}

.faq__item .item__input:checked ~ .item__text {
  display: block;

  color: black;

  max-width: 100%;
}

.faq__item .item__text {
  padding: 10px 15px;
  display: none;

  font-size: 16px;
  line-height: 24px;

  list-style: none;
}

.list__item {
  font-size: 18px;
  color: #fff;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 50%;
  margin: 0 auto;
}

.todo__content {
  flex: 0 0 85%;

  height: calc(100vh - 59px);
  position: relative;
}

.content__modal {
  position: absolute;
  right: 20px;
  bottom: 40px;
}

.content__nothing {
  text-align: center;
}

.modal {
  position: fixed;

  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.4);

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal__content {
  padding: 20px;

  width: 50%;

  border-radius: 12px;
  background-color: #fff;

  transform: scale(0.5);
  transition: 0.4s all;
}

.modal__content.active {
  transform: scale(1);
}

.create {
  text-align: center;
}

.create__title {
  margin: 0 0 20px;
}

.create__form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.create__inner {
  max-width: 400px;
  margin: 0 auto;
}

.form__label {
  padding: 5px;

  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form__input {
  width: 70%;
  margin-left: 10px;
}

.form__select {
  margin-left: 10px;
}

.form__clicker {
  padding: 5px;
  font-size: 30px;

  cursor: pointer;
}

/* .form__clicker--minus {
  transform: translateY(-30%);
} */

.form__button {
  margin: 0 auto;
}

.select__wrapper {
  display: flex;
}

/*  */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(66, 64, 64) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
